*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero__section {
    background: url(Images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 60vh;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 16px 50px;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar_menu_container {
    display: flex;
    gap: 18px;
    padding-right: 18px;
}
.navbar_menu_container .user_icon {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 1px white;
    display: none;
}
.hero__section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: calc(60vh - 65px);
}
.hero__section_logo {
    width: 200px;
    height: 40px;
}
.hero__section_title {
    text-align: center;
    font-size: 30px;
    font-weight: 380;
}
.hero__section_input_container {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
}
.input_container_location, 
.input_container_search {
    padding: 5px;
    border: none;
    overflow: none;
}
.input_container_location {
    width: 35%;
    border-right: 2px solid #e0e0e0;
}
.input_container_search {
    width: 65%;
}

@media only screen and (max-width:600px) {
    .navbar_menu_container .user_icon {
        display: flex;
        display: none;
    }
    .link{
        display: none;
    }
    .hero__section {
        min-height: 80vh;
    }
    .hero__section_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }
    .input_container_location, 
    .input_container_search{
        padding: 18px;
        border-radius: 10px;
        overflow: 98%;
    }
    .hero__section_container{
        height: calc(80vh - 40px);
    }
    .hero__section_title {
        font-size: 18px;
        width: 95%;
    }
}